.a-color-bg {
		background-color: #CCD5AE;
}

.b-color-bg {
		background-color: #E9EDC9;
}

.c-color-bg {
		background-color: #FEFAE0;
}

.d-color-bg {
		background-color: #FAEDCD;
}

.e-color-bg {
		background-color: #F5EBE0;
}
